<div style="display: flex; align-items: center; justify-content: center;">
  <div class="toast align-items-center text-bg-primary border-0 position-absolute top-0 end-0"
    [ngClass]="{'show-message': showMessage}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{message}}
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"
        (click)="hideMessage()"></button>
    </div>
  </div>
  <div>
    <div style="padding-left: 25px;">
      <h2 class="text-center">Add User Details</h2>
    </div>
    <form class="border rounded shadow p-3 form" [formGroup]="userDetailsForm">
      <div class="mb-3">
        <label class="form-label">First Name <span class="red-font">*</span> </label>
        <input type="text" class="form-control" id="firstname" formControlName="firstName" aria-describedby="emailHelp">
        <div *ngIf="getFormFieldErrors('firstName')?.['required']" class="red-font">
          Please add your first name
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name <span class="red-font">*</span></label>
        <input type="text" class="form-control" formControlName="lastName" id="lastname">
        <div *ngIf="getFormFieldErrors('lastName')?.['required']" class="red-font">
          Please enter last name
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Address <span class="red-font">*</span></label>
        <textarea class="form-control" id="address" formControlName="address" rows="3"></textarea>
        <div *ngIf="getFormFieldErrors('address')?.['required']" class="red-font">
          Please enter address
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Email <span class="red-font">*</span></label>
        <input type="text" class="form-control" formControlName="email" id="email">
        <div *ngIf="getFormFieldErrors('email')?.['required']" class="red-font">
          Please enter email address
        </div>
        <div *ngIf="getFormFieldErrors('email')?.['pattern']" class="red-font">
          Please enter valid email address
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Phone Number <span class="red-font">*</span></label>
        <input type="text" class="form-control" formControlName="phone" id="phone" maxlength="10" minlength="10" (keypress)="numberOnly($event)">
        <div *ngIf="getFormFieldErrors('phone')?.['required']" class="red-font">
          Please enter phone number
        </div>
        <div *ngIf="getFormFieldErrors('phone')?.['minlength']" class="red-font">
          Phone number should be of 10 digits
        </div>
        <div *ngIf="getFormFieldErrors('phone')?.['maxlength']" class="red-font">
          Maximum length should be of 10 digits
        </div>
      </div>
      <div class="mb-3" style="display: flex; justify-content: space-between; " >
        <button type="submit" class="btn btn-success" (click)="addUserData()" [disabled]="userDetailsForm.invalid">Submit</button>
        <button type="submit" class="btn btn-primary" (click)="getUserList()">Go Back</button>
      </div>

    </form>

  </div>

</div>